table {
  width: 50%;
  text-align: center;
  background-color: burlywood;
  margin-left: 25%;
}

.titre {
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.tit {
  color: burlywood;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
